/* :root {
  --main-bg-color: #131313;
  --border-color: #bbf706;
  --memo-bg-color: #bbf70629;
} */

/* :root {
  --main-bg-color: #000000;
  --border-color: #fcc42a;
  --memo-bg-color: #fcc42a29;
} */

:root {
  --main-bg-color: #000000;
  --border-color: #fcc42a;
  --memo-bg-color: #fcc42a29;
}

@font-face {
  font-family: "pixel";
  src: url(./Advanced_Pixel-7.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "pixel";
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--main-bg-color);
}

.board {
  position: absolute;
  top: 4vh;
  bottom: 10px;
  left: 10px;
  right: 10px;
  /* border: 1px solid white; */
  overflow: hidden;
}

.memo {
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--memo-bg-color);
  will-change: left top;
}

.move {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 16px;
  border-bottom: 1px solid var(--border-color);
  cursor: grab;
}
.close {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 16px;
  color: var(--border-color);
  text-align: center;
  font-weight: bold;
  border-right: 1px solid var(--border-color);
  background-color: black;
  cursor: pointer;
}
.close::selection {
  color: var(--border-color);
}

.resize {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  z-index: 0;
  cursor: se-resize;
}

.drag {
  position: absolute;
  background-color: white;
  opacity: 0.2;
}

.selection {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.372);
  pointer-events: none;
}

.text {
  position: absolute;
  top: 16px;
  width: 100%;
  height: calc(100% - 16px);
  z-index: 0;
  resize: none;
  background-color: transparent;
  color: var(--border-color);
  font-family: "pixel";
  font-size: 26px;
  padding: 5px;
  outline: none;
}

canvas {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  z-index: -1;
}

.theme-container {
  display: flex;
  /* border: 2px solid cadetblue; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111111;
  padding-left: 10px;
  padding-right: 10px;
  height: 4vh;
}
.github_icon {
  max-height: 3vh;

}
.header{
  color: white;
  font-size:3em
}
.theme-circles {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.c1 {
  background-color: #ffe27d;
}

.c2 {
  background-color: #64e3ff;
}

.c3 {
  background-color: #9042ff;
}

.c4 {
  background-color: #b4ff39;
}
